.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 100%;
  color: white;
}

button {
  margin: 20px;
  color: white;
  background-color: goldenrod;
  border: none;
  padding: 10px;
}